<!DOCTYPE html>
<html lang="en">
<head>

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'wybory/main.css' %}">
    <meta charset="UTF-8">
    <title>{% block title %}Wybory{% endblock %}</title>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<body>
    <a href="/wybory/">
	<header>
	    <h1>Wybory Prezydenta Rzeczypospolitej Polskiej 2000</h1>
	</header>
    </a>


    <ul class="main-nav">
        {% block formularz %}
          <li><form action="/wybory/search/" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Szukaj" /></form></li>
        {% endblock %}
               {% if not user.is_authenticated %}
            <li style="float:right"><a href="/login">Login</a></li>
        {% else %}
            <li style="float:right"><a href="/logout">Logout</a></li>
        {% endif %}
    </ul>

    <div class="flex-container">
        <div id="container" style="width: 550px"></div>
        <div id="regions_div"></div>
    </div>

    {% block list_elements_name %} {% endblock %}
    <div class="flex-container">
        <ul class="items">
            {% block list_elements %}{% endblock %}
        </ul>
    </div>
</body>
</html>