{% extends "wybory/wybory_base.html" %}
{% block title %}Wybory - gmina{% endblock %}
{% block wykres_naglowek %}'Gmina {{ opis }} - wyniki wyborów' {% endblock %}
{% block list_elements_name %}
    <hr>
    <h3>Lista obwodów:</h3>
{% endblock %}

{% block list_elements %}
        {% for obiekt in lista_obiektow %}
           <a href="/wybory/obwod/{{ obiekt.obwod__id}}"><li class="item">({{ obiekt.obwod__id}}) {{ obiekt.obwod__adres }}</li></a>
        {% endfor %}
{% endblock %}

