{% extends "wybory/wybory_base.html" %}
{% block title %}Wybory - wojewodztwo{% endblock %}

{% block wykres_naglowek %}'Województwo {{ opis }} - wyniki wyborów' {% endblock %}

{% block list_elements_name %}
    <hr>
    <h3>Lista okręgów</h3>
{% endblock %}

{% block list_elements %}
        {% for obiekt in lista_obiektow %}
            <a href="/wybory/okreg/{{ obiekt.obwod__gmina__okreg__id }}"><li class="item">{{ obiekt.obwod__gmina__okreg__id }}</li></a>
        {% endfor %}
{% endblock %}
