header, footer {
        padding: 1px;
        color: white;
        background-color: #006699;
        clear: left;
        text-align: center;
}

a:link {
    text-decoration: none;
}

.flex-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
}

table {
    margin-top:10px;
    border-collapse: collapse;
    width: 45%;
    margin-bottom: 10px;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #006699;
    color: white;
}

tr:nth-child(even){background-color: #f2f2f2}

tr:hover{
    background-color:#006699;
    color: white;
}


.navbar {
    display: inline-block;
    background-color: #006699;
    padding: 8px
}

ul.main-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #003366;
}

.main-nav > li {
    float: left;
}

.main-nav > li a {
    margin-top:3px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
}

.main-nav > li form {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;

}
.main-nav > li a:hover:not(.active) {
    background-color: #006699;
}

label {
    margin-right: 10px;
}
 .active {
    background-color: #4CAF50;
}

.items {

    padding: 5px;
    list-style-type: none;
    width: 95%;
    align: center;
}
.item {
    background: #006699;
    color: white;
    margin: 5px;
    padding: 5px;
    text-align: left;

}
.item:hover {
    background: #0099cc;
    cursor: pointer;
}

h3 {
    font-weight:normal;
    color: #006699;
}